@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.box {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  margin: 0 auto 30px;
}

input {
  height: 40px;
  margin: 0 auto;
  text-align: center;
}

.inputPassword {
  width: 100%;
  font-size: 22px;
  background-color: transparent;
  border: 0 solid transparent;
  border-bottom: 1px solid lightblue;
}

.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: lightblue;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: lightskyblue;
}

.btn:active {
  transform: scale(0.98);
}

.passLength {
  width: 100px;
  margin-left: 10px;
  font-size: 18px;
  border: 1px solid lightblue;
  outline: none;
}


.lengthP {
  display: inline-block;
  margin-left: 60px;
}

.lengthP span{
  margin-left: 10px; 
  font-size: 20px;
  font-weight: 400;
}

.text-info{
  color: red;
}

.hide {
  display: none;
}